* {
  margin: 0;
  padding: 0;
}

:root {
  --gg_green: rgb(50, 150, 50);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--gg_green);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#play-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#score-container {
  background-color: black;
  height: 100%;
  width: 20%;
}